workflows/SerpAPI_Local_RAG_AI_Agent.json
{
  "name": "SerpAPI Local RAG AI Agent",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessionId"
      },
      "id": "139a3499-6864-4011-95c6-f10fdd7c791d",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        880,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "4WCakvONmuo2bEz3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Local RAG AI Agent with Chat Interface",
        "height": 887.5047084772652,
        "width": 1455.2009909753303
      },
      "id": "d806876d-f911-4088-b931-49b4f62a1df6",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -221.15516615487354,
        220
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for Local RAG",
        "height": 884.9653283106979,
        "width": 883.7590049379281,
        "color": 4
      },
      "id": "913c3784-a249-461d-a37e-91e3f6272a4e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1240,
        220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "96f08073-3aae-47ed-b3da-000297a5df50",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1080,
        580
      ],
      "credentials": {
        "serpApi": {
          "id": "E7iBjtV7c465VApE",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "0d4ecfc7-8880-4f1c-ad29-0195b426cc29",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        720,
        580
      ],
      "credentials": {
        "openAiApi": {
          "id": "9Ik4N5cGSMnzUsqT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "o1-mini",
        "options": {}
      },
      "id": "957bceb0-5dbd-4b9b-bf4f-2b844cf18e02",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1960,
        860
      ],
      "credentials": {
        "openAiApi": {
          "id": "9Ik4N5cGSMnzUsqT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "a2e7b49e-7679-4133-9664-14cd1fefe3ee",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1400,
        860
      ],
      "credentials": {
        "openAiApi": {
          "id": "9Ik4N5cGSMnzUsqT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "documents",
        "topK": 3
      },
      "id": "f970ba37-6c3f-4e7b-b04d-7dd7f08d0fc7",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1820,
        500
      ]
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "3ea64805-b5a6-4270-b3e2-f8a411adc5af",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1620,
        700
      ],
      "credentials": {
        "qdrantApi": {
          "id": "sH4WgbfG6ZzQTHEi",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9281e94c-db42-4ecc-ae7e-6461266fc319",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07bfde77-51c0-4b2d-8058-1aa970d8ba88",
              "leftValue": "={{ $json.body.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "85430072-7101-4f72-af36-16f4fba67d7a",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5064fc8e-54c5-4bcf-893f-bcf2959b7004",
              "name": "body.sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "c9d041ea-ba67-464d-b589-9f33c410acda",
              "name": "body.chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "26b2e3bc-b940-4795-a460-70e5eeeffdfe",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "062b7578-e3bb-4166-9976-aecd2894d4cf",
              "name": "body.sessionId",
              "value": "{{ (+new Date).toString(36).slice(-5) + Math.random().toString(36).substr(2, 5) }}",
              "type": "string"
            },
            {
              "id": "f4943f44-d84b-4a33-a784-85b1008de012",
              "name": "body.chatInput",
              "value": "{{ $json.body.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "09d5d7ec-e5d0-4353-a7ca-88f39fda8deb",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        720
      ]
    },
    {
      "parameters": {},
      "id": "c6b7a037-6a0b-412e-aa15-41f7f095f6b2",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        500,
        540
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n_websearch_agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6429a2a5-cfdc-4d44-bd7d-3d9372301bd1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -180,
        600
      ],
      "webhookId": "696732ce-8e84-478d-8573-f36bbd62745c"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# CONTEXTO\nEres un asistente muy útil.\nTienes la capacidad de realizar búsquda online con tus herramientas.\nHaz todas las búsquedas online que necesites para resolver las dudas.\n\n# MENSAJE USUARIO\n{{ $json.body.chatInput }}\n\n# RESPUESTA ASISTENTE",
        "options": {}
      },
      "id": "162d2894-781d-4f7b-ae20-7c12fbb6bb96",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        880,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ef4aa382-46e3-4bbb-95ee-a060cab576f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "xcfUiVT0TZ9ebhjL",
  "tags": []
}